.loginPage {
    background-color: #f6f6f6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loginCard {
    background-color: #fff;
    border: 1px solid silver;
    border-radius: 10px;
    padding: 20px 35px;
}
.loginCard h2 {
    color: rgb(93, 93, 93);
    font-size: 1.3rem;
    margin-bottom: 30px;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f9d58;
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    padding: 10px;
    width: fit-content;
    cursor: pointer;
    margin: 0 auto;
}
.button img {
    width: 30px;
    margin-right: 10px;
}

.button:hover {
    background-color: #07713e;
}